body{
    background-color: grey;
    font-family: 'Tahoma', sans-serif;
}

.container{
    width: 1015px;
    margin: 0 auto;
    padding-top: 30px;
}

h1{
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
}

.subContainer-flex{
    display: flex;
    padding: 10px;
    padding-left: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
    background-color: white;
}

.itemContainer{
    img{
        width: 50px;
        height: 50px;
    }
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: red;
    background-image: url('../img/DiabolicUI_Button_50x50_BackdropWeapon.tga');
}